* {
    box-sizing: border-box;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pad {
    width: 700px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
}

.filled {
    background-color: black;
}